
.profile-icon {
  cursor: pointer;
}

.platform {
  display: flex;
  padding: 20px;
  gap: 20px;
  margin-top: 80px;
}

.left-panel {
  width: 25%;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  height: 300px;
}

.left-panel h3 {
  margin-bottom: 10px;
}

.left-panel ul {
  list-style: none;
  padding: 0;
}

.left-panel ul li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.wishlist {
  margin-top: 10px;
}

.middle-panel {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.portfolio-container {
 
  overflow-y: auto; /* Scrollable */
  max-height: 600px;

}
.portfolio-container .btn{
  background-color: #000;
  color: #fff;
  border: none;
  /* padding: 10px 20px; */
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
  background: linear-gradient(90deg, rgb(255, 2, 44), rgb(252, 0, 240));
  background-size: 200% 100%;
  /* animation: neon 2s infinite; */
  /* margin-left: 100px; */

}

@keyframes neon {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mod .btn{
  background-color: #000;
  display: flex;
  color: #fff;
  border: none;
  /* padding: 10px 20px; */
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: linear-gradient(90deg, rgb(2, 65, 255), rgb(252, 0, 240));
  background-size: 200% 100%;
  /* animation: neon 2s infinite; */
  /* margin-left: 100px; */


}

.middle-panel table {
  width: 100%;
  border-collapse: collapse;
}

.middle-panel th, .middle-panel td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.profit {
  color: green;
}

.loss {
  color: red;
}
