body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4de2c2;
  overflow: hidden;
}

code {
  font-family: 'Poppins';
}
